footer{background-color: #998431;}

.footer__container{padding: 48px 20px 51px;}

.footer__items
{
	display: flex;
	gap: 60px;
	padding: 17px 93px 18px 95px;
	border-top: 1px solid #fff;
}

.footer__item a
{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.footer__info
{
	display: flex;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
	a
	{
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 150%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;

	}
}

.footer__boutique{padding: 18px 55px 9px 95px;}

.footer__phon
{
	padding: 18px 55px 9px 60px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.footer__icon-inner
{
	display: flex;
	padding: 18px 57px 9px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;

	.footer__icon:first-child{margin-right: 36px;}
	.footer__icon:nth-child(2){margin-right: 33px;}
}


.footer__link-site{padding: 18px 95px 9px 58px;}