<div class="record">
	<div class="container record__container">
		<div class="record__wrap">
			<div class="record__grape-img">
				<img src="img/grape.png">
			</div>
			<div class="record__barrel">
				<img src="img/barrel.png">
			</div>
			<h2 class="record__title">Запись на дегустацию</h2>
			<div class="record__line"></div>
			<p class="record__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit<br>non sit sed fermentum.
			</p>
			<form action="" class="record__form">
				<div class="record__input-group">
					<input type="text" class="record__input-text" placeholder="Имя">
					<input type="text" class="record__input-text" placeholder="Телефон">
				</div>
				<input type="text" class="record__input-location" placeholder="Бутик на Невском 103">
				<button class="record__btn">записаться</button>
			</form>
		</div>
	</div>
</div>