.g-btn-link
{
	display: inline-block;
	height: 50px;
	padding: 0 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background-color: #99862A;
	color: #fff;
}